<section id="sidebar">
	<% @songs.each do |song| %>
	<a href="#" class="song" data-sc-url="<%= song.soundcloud_url %>" data-artist="<%= song.artist %>" data-title="<%= song.title %>">
		<div class="row">
			<div class="col-md-4">
				<img src="<%= song.album_art %>" class="img-responsive">
			</div>
			<div class="col-md-8">
				<div class="song-info">
					<p><%= song.title %></p>
					<p><%= song.artist %></p>
				</div>
			</div>
		</div>
	</a>
	<% end %>
</section>